body{
  background: url(cam.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero{
  font-family: Piedra;
  display: flex;
  color: #fff;
}
.tit{
  color: #fff;
  font-family: cursive;
  display: flex;
}
.rowheight{
  height: 30vh;
}
.rowheight1{
  height: 5vh;
}
.para1{
  font-family: cursive;
  color: #bff;
}
.para2{
  font-family: cursive;
  color: #0000ff;
}
.container45{
  float: left;
  align-content: flex-end;
}
